<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/element-ui@2.4.11/lib/theme-chalk/index.css"
          rel="stylesheet">
    <link href="./assets/style.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div class="choose-file-container">
        <el-button class="choose-file-box">
            <input type="file"
                   class="choose-file"
                   @change="onTextChosen($event.target.files[0])">选择文件
        </el-button>
        <el-tooltip effect="dark" content="最大显示条数" placement="right">
            <el-input class="visible-threads-limit-input"
                      v-model="visibleThreadsLimit"
                      type="number"
                      placeholder="最大显示条数">
            </el-input>
        </el-tooltip>
    </div>
    <div>
        <el-table :data="visibleThreads" class="threads-table">
            <el-table-column prop="author"
                             width="300">
                <template slot="header" slot-scope="scope">
                    <el-input v-model="keywordAuthor"
                              placeholder="输入作者关键字搜索"/>
                </template>
            </el-table-column>
            <el-table-column prop="title">
                <template slot="header" slot-scope="scope">
                    <el-input v-model="keywordTitle"
                              placeholder="输入标题关键字搜索"/>
                </template>
            </el-table-column>
        </el-table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.4.11/lib/index.js"></script>
<script>
    const TEXT_TYPE = /text.*/;
    new Vue({
        el: '#app',
        data: {
            threads: [],
            keywordAuthor: '',
            keywordTitle: '',
            visibleThreadsLimit: 100
        },
        computed: {
            visibleThreads() {
                return this.threads
                    .filter(thread => thread.author.includes(this.keywordAuthor))
                    .filter(thread => thread.title.includes(this.keywordTitle))
                    .slice(0, this.visibleThreadsLimit);
            }
        },
        methods: {
            onTextChosen(file) {
                if (file.type.match(TEXT_TYPE)) {
                    const reader = new FileReader();
                    reader.readAsText(file);
                    reader.onload = () => {
                        const result = reader.result.trim();
                        const text = '[' + result.substr(0, result.length - 1) + ']';
                        this.threads = JSON.parse(text);
                    };
                } else {
                    this.text = "不支持的文件类型!"
                }
            }
        }
    });
</script>
</body>
</html>