#app {
    max-width: 70%;
    margin: 0 auto;
}

.choose-file-container {
    text-align: center;
}

.choose-file-box {
    position: relative;
    width: 50%;
}

.choose-file {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.choose-file:hover {
    cursor: pointer;
}

.visible-threads-limit-input {
    width: 150px;
}

.threads-table {
    width: 100%;
}